# Likes Report

By: Chris Cowles

9/15/22

This is data taken from my personal Instagram account. Instagram was the one who collected all of the data, and they collected this data to monetize and tailor ads to me. The data is very reliable because it is the complete record of my Instagram account, coming straight from Instagram. I do not believe that there is anything unreliable about the data, other than the possible conclusions that could be drawn from it.

In [27]:
import pandas as pd
import json

I imported the modules I was going to use. Pandas is needed to use the DataFrame function, which is how the data is going to be organized. The JSON package is needed in order for Python to be able to read and open the JSON file.

In [28]:
import os
with open (os.path.expanduser("~/Desktop/Data In EMAT/liked_posts.json")) as j: data = json.load(j)

I imported the OS module to use the expanduser method. It is not needed to load the JSON file, but it shortens the filepath and makes the code look a little bit more neat. The json.load function loads the file, and saves it to a variable called data.

In [29]:
data.keys()

dict_keys(['likes_media_likes'])

I used the .keys() method to extract the keys from the dictionary, returning an output of "dict_keys(['likes_media_likes'])"

In [30]:
data['likes_media_likes'][0]

{'title': 'shelbycowlesparker',
 'media_list_data': [],
 'string_list_data': [{'href': 'https://www.instagram.com/p/ZKCEDYxZjARiaEt7S4Fu1pbmCb8ZmIp0OHYPI0/',
   'value': 'ð\x9f\x91\x8d',
   'timestamp': 1368293390}]}

I used the 'likes_media_likes' key to do a deeper dive into the data. The timestamp value was under the string_list_data key! And the account value is under the title key.

In [31]:
timestamp = [x['string_list_data'][0]['timestamp'] for x in data['likes_media_likes']]

Assigning the timestamp a variable.

In [34]:
timestamp[0:10]

[1368293390,
 1366340832,
 1366061146,
 1362936536,
 1361751547,
 1360976863,
 1360268467,
 1359667012,
 1351734794,
 1421637642]

Checking to see timestamp's output

In [35]:
accounts = [x['title'] for x in data['likes_media_likes'] ]

Assigning the accounts section a variable

In [36]:
accounts[0:10]

['shelbycowlesparker',
 'zach_sf',
 'shelbycowlesparker',
 'zach_sf',
 'zach_sf',
 'zach_sf',
 'zach_sf',
 'zach_sf',
 'kyle_smith83',
 'shelbycowlesparker']

Checking to see accounts's output

In [37]:
likes_df = pd.DataFrame({'accounts': accounts, 'timestamp': timestamp})

Creating a DataFrame object using the pandas module. This uses the accounts and timestamp variables we just created.

In [38]:
likes_df

                accounts   timestamp
0     shelbycowlesparker  1368293390
1                zach_sf  1366340832
2     shelbycowlesparker  1366061146
3                zach_sf  1362936536
4                zach_sf  1361751547
...                  ...         ...
1363           clickhole  1638405294
1364      harryrosenberg  1638221580
1365           owen_kung  1638149592
1366           coldhart_  1638118830
1367   jackson.roberts45  1638041034

[1368 rows x 2 columns]

In [39]:
like_count = likes_df.groupby('accounts').count()

Using groupby and count methods to further sort the dataframe

In [40]:
like_count

                     timestamp
accounts
1davidshawty                 6
2.angiee                     4
2001trashstar                2
87_records_official          1
__reignlove                  1
...                        ...
yungster_jack                2
yungtish                     2
zach_sf                     32
zacharykjackson              1
zerohoots3pac               68

[384 rows x 1 columns]

In [41]:
like_count.sort_values('timestamp', ascending = False)

                          timestamp
accounts
zerohoots3pac                    68
shelbycowlesparker               68
owen_kung                        67
zach_sf                          32
yunglean2001                     32
...                             ...
justin_russo_poop_eater_          1
jxxyy                             1
k.ia                              1
kade.savage.x                     1
kamarhiah                         1

[384 rows x 1 columns]

Making it so the top liked accounts show first.

## Conclusion
I believe that over 50% of my Instagram activity has taken place before 2017. 3/5 of the top accounts that are displayed in the last DataFrame I do not even follow anymore, which is why I have formulated this hypothesis. I also believe that I do not use social media as much as I used to. Since "activity" is a broad term, there are many different files that were packaged in my Instagram data that could help me figure this out. The timestamps in each of the possible files (following, likes, comments, stories, etc.) are what would be able to tell me how much activity I was doing on Instagram before and after 2017.

In conclusion, seeing the data sorted like this made me wonder how active I am on Instagram, and if before 2017, there was more activity on my account.